<template id="analysis-view">
  <div>
    <canvas
      id="scope"
      width="400"
      height="200"
      style="border:1px solid#000000;"
    ></canvas>
    <canvas
      id="mags"
      width="400"
      height="200"
      style="border:1px solid#000000;"
    ></canvas>
  </div>
</template>


<script type="module">
 import synergy from "./modules/synergy/index.js";
 const AnalysisView = () => {
   let scopeId;
   let magsId;
   return {

     csound: null,
     
     scope() {
       let ctx = document.getElementById("scope").getContext("2d");
       let width = ctx.canvas.width;
       let height = ctx.canvas.height;
       let timeData = new Uint8Array(this.analysisNode.frequencyBinCount);
       let scaling = height / 256;
       let risingEdge = 0;
       let edgeThreshold = 5;
       this.analysisNode.getByteTimeDomainData(timeData);

       ctx.fillStyle = "rgba(0, 20, 0, 0.1)";
       ctx.fillRect(0, 0, width, height);
       ctx.lineWidth = 2;
       ctx.strokeStyle = "green";
       ctx.beginPath();

       while (timeData[risingEdge++] - 128 > 0 && risingEdge <= width);
       if (risingEdge >= width) risingEdge = 0;
       while (
         timeData[risingEdge++] - 128 < edgeThreshold &&
         risingEdge <= width
       );
       if (risingEdge >= width) risingEdge = 0;
       for (         
         let x = risingEdge;
         x < timeData.length && x - risingEdge < width;
         x++
       )
         ctx.lineTo(x - risingEdge, height - timeData[x] * scaling);
       ctx.stroke();
       scopeId = requestAnimationFrame(this.scope);
     },

     mags() {
       let ctx = document.getElementById("mags").getContext("2d");
       let width = ctx.canvas.width;
       let height = ctx.canvas.height;
       let freqData = new Uint8Array(this.analysisNode.frequencyBinCount);
       let scaling = height / 256;

       this.analysisNode.getByteFrequencyData(freqData);

       ctx.fillStyle = "rgba(0, 20, 0, 0.1)";
       ctx.fillRect(0, 0, width, height);
       ctx.lineWidth = 2;
       ctx.strokeStyle = "green";
       ctx.beginPath();

       for (let x = 0; x < width; x++)
         ctx.lineTo(x, height - freqData[x] * scaling);

       ctx.stroke();
       magsId = requestAnimationFrame(mags);
     },

     connectedCallback() {
     },

     disconnectedCallback() {
       cancelAnimationFrame(scopeId);
       cancelAnimationFrame(magsId);

       if (this.analysisNode) {
         this.csound.getNode().disconnect(this.analysisNode);         
       }
     },

     updatedCallback(prevState) {
       if (this.csound && !this.analysisNode && this.disabled) {
         this.analysisNode = CSOUND_AUDIO_CONTEXT.createAnalyser();
         this.csound.getNode().connect(this.analysisNode);   
         scopeId = requestAnimationFrame(this.scope);
         magsId = requestAnimationFrame(this.mags);         
       }

       if (this.analysisNode && this.disabled === true) {
         this.csound.getNode().disconnect(this.analysisNode);
         this.analysisNode = null;
         cancelAnimationFrame(scopeId);
         cancelAnimationFrame(magsId);         
       }       
     }
   }
 }


 synergy.define(
   "analysis-view",
   AnalysisView,
   document.getElementById("analysis-view"),
   {observedAttributes: ["disabled", "csound"]}     
 );

</script>
