<template id="app-page">
  <div id="console">...loading...</div>

  <analysis-view
    disabled="{{disabled}}"
    csound="{{csound}}"
  ></analysis-view>
  <p>
    <button
      id="playButton"
      onClick="{{play}}"
      disabled="{{disabled}}"
    >{{playButtonLabel}}</button>
  </p>

  <div id="editor"></div>
  <textarea class="code" id="instruments" hidden>
    /* this is the synthesis code for this example */
    nchnls=2
    0dbfs=1
    instr 1
    k1 expon p4,p3,p4*0.001
    a1 oscili k1,p5
    chnset p5, "freq"
    outs a1,a1
    schedule 1,0.25,0.5,0.3+rnd(0.2),1000+birnd(500)
    endin
    schedule 1,0,0.5,0.1,500
  </textarea>
</template>

<script type="module">
  import Editor from "./modules/editor/Editor.js";
  import Syn from "./modules/syn/index.js";
 import {useState, useEffect} from "./modules/syn/hooks.js";

 function basicPage() {
   let docdata = {
     uid: "123",
     filename: "example.orc",
     currentValue: document.getElementById("instruments").value,
   };

   const [csound, setCsound] = useState(null);
   const [disabled, setDisabled] = useState(true);
   const [playing, setPlaying] = useState(false);

   useEffect( () => {
     let editor = new Editor({docdata});
     editor.onMount(document.getElementById("editor"));

     CsoundObj.importScripts("./js/").then(() => {
       let random_colour;
       CSOUND_AUDIO_CONTEXT.suspend();
       const csound = new CsoundObj();

       setCsound(() => csound);
       setDisabled(() => false);

       const messField = document.getElementById("console");
       csound.setMessageCallback((msg) => {
         csound.requestControlChannel("freq", function () {
           const freq = Math.round(csound.getControlChannel("freq"));
           messField.innerText = msg + " :: " + freq + " Hz";
         });
       });

       csound.compileOrc(document.getElementById("instruments").value);
       csound.start();
       window.addEventListener(
         "unload",
         function (e) {
           if (csound != null) csound.destroy();
         },
         false
       );
     });
   }, []);

   const play = () => {
     if (playing == false) {
       CSOUND_AUDIO_CONTEXT.resume();
       setPlaying(true);
     } else {
       CSOUND_AUDIO_CONTEXT.suspend();
       setPlaying(false);
     }
   }

   return {
     playButtonLabel: playing ? "pause" : "play",
     play,
     csound,
     disabled,
   }

 };


 Syn("app-page").render(basicPage).define();



</script>
